/*** Custom properties ***/

:root {
  --primary-text-colour: rgb(63, 77, 108, 1);
  --primary-bg-colour: rgb(237, 235, 246);
  --primary-accent-colour:  rgb(198, 53, 53);
  --primary-accent-transparent: rgb(198, 53, 53, 0.9);
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

section {
  margin: 10px 0px 0px 0px;
  padding: 0;
  width: 100%;
}


.section-h1 {
  color: white;
  font-size: 2.5rem;
  padding: 10px;
  margin-bottom: 10px;
  width: auto;
  background-color: rgb(44, 46, 53);
  border-bottom: 5px solid var(--primary-accent-colour);
}

/*** Nav ***/

.navbar {
  height: 70px;
  z-index: 1000;
}
.navbar-brand {
  font-size: 2rem;
  color: white;
  padding: 0px 60px 3px 0px;
}

.nav-link {
  color: white;
  font-size: 1.2rem;
  margin: 0px 5px;
  padding: 0;
  position: relative;
}

.nav-link:hover {
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0;
  background-color: white;
  left: 50%;
  bottom: -1px;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
  transform-origin: 50% 50%;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.navbar {
  border-bottom: 3px solid white;
}

.nav-bg-colour {
  background-color: rgb(44, 46, 53);
}

.navbar-toggler-icon {
  color: white;
  background-color: white;
}
/*** Jumbotron ***/

.jumbotron {
  margin-top: 5px;
  padding: 20px 0px 10px 0px;
  background-image: url("../images/ethan-thompson-zCYaSP5PHy8-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.jumbotron::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-accent-transparent);
  z-index: -1;
}

#jumbotron-headings {
 align-self: left;
}

#jumbotron-h1 {
  background-color: rgb(44, 46, 53);
  padding: 5px 10px 5px 40px;
  align-self: flex-end;
  color: rgba(237, 235, 246);
  -webkit-box-shadow: -13px 16px 4px -3px rgba(251, 251, 251, 0.27);
  box-shadow: -13px 16px 4px -3px rgba(251, 251, 251, 0.5);
  z-index: 4;
}

#jumbotron-h2 {
  padding-left: 40%;
  font-size: 1.8rem;
}

#jumbotron-about-section {
justify-content: space-around;
}

#jumbotron-avatar {
  width: 200px;
  z-index: 0;
}

#jumbotron--lead {
  color: white;
  text-align: left;
  z-index: 4;
  padding: 0;
}

#jumbotron--para {
  color: white;
  width: 70%;
  text-align: left;
  z-index: 0;
}

.jumbotron a, .jumbotron a:visited {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-weight: bolder;
  border-bottom: 1px solid white;
}

.jumbotron a:hover {
  color: lightgrey;
}

#jumbotron-submitBtn {
  display: block;
}

/*** Work section ***/

#section-work {
  width: 100%;
}

.card {
  border: 2px solid rgb(44, 46, 53);
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.5s ease;
  z-index: 2;
}

.card-body {
  background-color: rgb(44, 46, 53);
  color: white;
  height: auto;
  z-index: 2;
}

.card img {
  z-index: 1;
  overflow: hidden;
}

.card .btn {
  width: 40%;
}

/** Skills section ***/
#section-skills .row {
  height: 50px;
  padding: 0px;
}
#section-skills ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: bolder;
}

#section-skills ul li {
  margin: 0px 2px;
  text-decoration: none;
  list-style-type: none;
}
/*** Contact / About section ***/

#section-contact {
  background-color: rgb(44, 46, 53);
  border-top: 15px solid var(--primary-accent-colour);
  height: 350px;
}

.contact-ul {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 40px;
}

.contact-ul a, .contact-ul li {
  margin: 5px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.contact-ul li a:hover {
  box-shadow: -2px 0px 0px 11px rgba(198,53,53,0.75);
  -webkit-box-shadow: -2px 0px 0px 11px rgba(198,53,53,0.75);
  -moz-box-shadow: -2px 0px 0px 11px rgba(198,53,53,0.75);
}

#contact-about {
  border-left: 2px solid white;
  display: flex;
  flex-direction: row;
}

#contact-about img {
  width: 60px;
  height: 60px;
  margin: 8px;
}
/*** Utilities  ***/

.zoom:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.bg-html {
  background-color: rgb(17, 52, 167);
  padding: 0px 2px;
}

.bg-css {
  background-color: rgb(179, 156, 30);
  padding: 0px 2px;
}
