/*** Custom properties ***/

:root {
  --primary-text-colour: rgb(63, 77, 108, 1);
  --primary-bg-colour: #92cacd;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(237, 235, 246);
}

/*** Nav ***/

.navbar-brand {
  font-size: 2rem;
  color: white;
  padding: 0px 60px 3px 0px;
}

.nav-link {
  color: white;
  font-size: 1.2rem;
  margin: 0px 5px;
}

.navbar {
  border-bottom: 3px solid white;
}

.nav-bg-colour {
  background-color: rgb(44, 46, 53);
}

/*** Jumbotron ***/

.jumbotron {
  margin-top: 3px;
  padding: 20px 0px;
  background-color: lightgrey;
  justify-content: space-between;
}

.jumbotron img {
  margin-bottom: 10px;
}

#about-me-submitBtn {
  display: block;
}

/*** Hero banner ***/

#hero-banner {
  background-color: #08829b;
  padding: 30px 0px;
}

.container {
  border: 1px solid purple;
}

#section-container {
  border-left: 4px solid black;
  padding: 20px;
}

.portfolio-section {
  margin: 15px 0px;
}